.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.divLink {
    display: flex;
    align-items: center;
    position: relative;
    width: 4.5rem;
}

.divLink svg {
    position: absolute;
}

.divLink a {
    position: absolute;
}

.logout {
    margin-right: 10px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.logout:hover,
.logout:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.logout:active {
    opacity: .5;
}

.menuButton,
.mobileLinks {
    display: none;
}

@media(max-width:768px) {
    .container {
        margin-left: 10px;
    }

    .links {
        display: none;
    }

    .menuButton {
        display: block;
        cursor: pointer;
        margin: 15px;
    }

    .mobileLinks {
        position: absolute;
        top: 90px;
        right: 0;
        width: 40%;
        height: 90vh;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 45px;
        background-color: #f5f7fa;
        border: 1px solid #b4b0b0;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 5px, rgba(0, 0, 0, 0.23) 0px 4px 4px;
        z-index: 99;
    }

}