.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgContainer {
    width: 10%;
    height: 100%;
    position: relative;
    margin-right: 20px;
}

.img {
    width: 100%;
    height: 105%;
    object-fit: cover;
}

@media(min-width:1274px) {
    .imgContainer {
        width: 6%;
    }
}

@media(max-width:768px) {
    .imgContainer {
        width: 22%;
    }
}