.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.textContainer {
    height: 500px;
    margin: 10px 20px;
}

.textContainer h2 {
    text-align: center;
    margin: 10px 0;

}

.textContainer p {
    margin: 10px 0;
    line-height: 25px;
    font-size: 17px;

}

.imgContainer {
    position: relative;
}

.heroSection {
    height: 500px;
    width: 700px;
}

.aboutTopImage {
    width: 100%;
    height: 100%;
}