  .container {
    display: flex;
    justify-content: space-around;
  }

  .textContainer {
    flex: 1;
    max-width: 600px;
    margin: 10px 20px;
  }

  .textContainer h2 {
    text-align: center;
    margin: 10px 0;
  }

  .textContainer p {
    margin: 10px 0;
    line-height: 25px;
    font-size: 17px;
  }

  .imgContainer {
    position: relative;
    flex: 1;
  }

  .heroSection {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
  }

  .aboutTopImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .imageHover:hover {
    transform: scale(1.1);
  }

  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column-reverse;
    }

    .imgContainer {
      margin-bottom: 10px;
    }

    .textContainer {
      max-width: 100%;
      margin: 10px;
    }

    .textContainer h2 {
      text-align: left;
    }
  }